# Ignore Python cache files
__pycache__
*/__pycache__
*/*/__pycache__
*.py[cod]
*$py.class

# Ignore the virtual environment directory
venv
.venv

# Ignore cache
.ruff_cachce
.mypy_cache
.github
*/.coverage

# Ignore environment variables file
.env

# Ignore development and build artifacts
build/
dist/
*.log
*/*.log
*/*/*.log
htmlcov
static/rest_framework
static/admin


# Ignore local configuration files
*.local
*.settings

# Ignore test artifacts
.coverage
*.cover
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc
.tox/
.pytest_cache/
junit-xml/
pytest.ini

# Ignore database files
*.sqlite3

# Ignore media/uploads
media/

# Ignore static files
staticfiles/

# Ignore source control files
.git/
.gitignore
tree.txt

# Ignore editor swap files
*~

# Ignore node modules
node_modules/

# Ignore Docker-related files
Dockerfile
docker-compose.yml


